*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(120, 5, 228, 0.753),rgba(20, 20, 20, 0.986));
    color: white;
    height: 100vh;
}
.clock{
    width: 65%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.greet{
    position:fixed;
    text-align: center;
    align-self: center;
    height: auto;
    font-family:'Satisfy', cursive;
    font-size: 30px;
    text-shadow:2px 2px 2px black ;
}
.greet:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.486);
}
/* responsive */
@media(max-width:480px) {
    .clock{
        font-size: 50px;
    }
}